* {
    font-family: sans-serif;
}

.main_container {


    border-radius: 20px;
    border: 0.5px solid black;
    width: 300px;
    height: 500px;

    opacity: 2px;

}

#search_bar {
font-weight: bold;
    border: none;
    margin-right: 12px;
    font-size: 16px;
    outline: none;
    overflow-y: scroll;
}



.top {

    border-radius: 20px 20px 0px 00px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    border: 1px solid black;
    width: 300px;
    height: 40px;
}

.fa-solid {
    cursor: pointer;
    margin-left: 35px;
    margin-right: 35px;
}





.main_body {

    background-color: rgb(240, 235, 226);
    backdrop-filter: blur(5px) rgba(0, 0, 0, 1);
    border-radius: 15px;
    margin: 12px auto;

    height: 400px;
    width: 240px;
}

.location_date {
    color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 240px;

}

.image {
    display: flex;
    justify-content: center;
    height: 130px;
    width: 240px;

}

.temperature {
    font-size: 100px;
    display: flex;
    justify-content: center;
    height: 130px;

    width: 240px;

}

.feels {
    color: rgb(59, 59, 59);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 65px;

    width: 240px;

}